.gitignore
ABOUT-NLS
COPYING*
_stdint.h
aclocal.m4
autom4te.cache
autoregen.sh
compile
config.guess
config.h*
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1

/m4

*.la
*.lo
*.o
*.swp
*~
.deps
.libs
Makefile
Makefile.in
